{% extends 'base.html.twig' %}

{% block title %}Upload{% endblock %}

{% block body %}
    <h1>Upload</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ upload.id }}</td>
            </tr>
            <tr>
                <th>RenderFile</th>
                <td>{{ upload.renderFile }}</td>
            </tr>
            <tr>
                <th>RenderLink</th>
                <td>{{ upload.renderLink }}</td>
            </tr>
            <tr>
                <th>Comment</th>
                <td>{{ upload.comment }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('upload_index') }}">back to list</a>

    <a href="{{ path('upload_edit', {'id': upload.id}) }}">edit</a>

    {{ include('upload/_delete_form.html.twig') }}
{% endblock %}
