{% extends 'base.html.twig' %} {% block title %}Upload {% endblock %} {% block body %}
<h1>Upload</h1>

<table class="table">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ upload.id }}</td>
        </tr>
        <tr>
            <th>RenderFile</th>
            <td>
                {% if upload.renderFile %}
                <a href="{{ absolute_url(asset('uploads/' ~ upload.renderFile)) }}" target="_blank">
						{{ upload.renderFile }}
					</a> {% endif %}
            </td>

        </tr>
        <tr>
            <th>RenderLink</th>
            <td>
                {% if upload.renderLink %}
                <a href="{{ upload.renderLink }}" target="_blank">
						{{ upload.renderLink }}
					</a> {% endif %}
            </td>
        </tr>
        <tr>
            <th>Comment</th>
            <td>{{ upload.comment }}</td>
        </tr>
    </tbody>
</table>

{% if is_granted('ROLE_ADMIN') %}
<a href="{{ path('render_show', { id: upload.render.id }) }}">back to list</a> {% endif %} {% if upload.render.open %}
<a href="{{ path('upload_edit', { id: upload.id}) }}">edit</a> {{ include('upload/_delete_form.html.twig') }} {% endif %} {% endblock %}