{% extends 'base.html.twig' %} {% block title %}Render{% endblock %} {% block body %}
<h1>Render</h1>

<table class="table">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ render.id }}</td>
        </tr>
        <tr>
            <th>Promotion</th>
            <td>{{ render.promo.name }}</td>
        </tr>
        <tr>
            <th>TP</th>
            <td>{{ render.exercice.name }}</td>
        </tr>
        <tr>
            <th>Module</th>
            <td>{{ render.exercice.module.name }}</td>
        </tr>
        <tr>
            <th>Dossier</th>
            <td>{{ render.directory }}</td>
        </tr>
        <tr>
            <th>Nombre de rendus</th>
            <td>{{ render.uploads.count ~ '/' ~ render.promo.users.count }}</td>
        </tr>
        <tr>
            <th>DateBegin</th>
            <td>{{ render.dateBegin ? render.dateBegin|date('Y-m-d H:i:s') : '' }}</td>
        </tr>
        <tr>
            <th>DateEnd</th>
            <td>{{ render.dateEnd ? render.dateEnd|date('Y-m-d H:i:s') : '' }}</td>
        </tr>
    </tbody>
</table>

<a href="{{ path('render_index') }}">back to list</a>

<a href="{{ path('render_edit', {'id': render.id}) }}">edit</a> {{ include('render/_delete_form.html.twig') }}


<h2>Les rendus</h2>

<table class="table">
    <thead>
        <tr>
            <th>Apprenant</th>
            <th>RenderFile</th>
            <th>RenderLink</th>
            <th>Comment</th>
        </tr>
    </thead>
    <tbody>
        {% for user in render.promo.users %} {% set upload = render.uploadOf(user) %}
        <tr {% if not upload %}class="text-white bg-danger" {% endif %}>
            <td>{{ user.fullName }}</td>
            {% if upload %}
            <td>
                {% if upload.renderFile %}
                <a href="{{ absolute_url(asset('uploads/' ~ upload.renderFile)) }}" target="_blank">
                    {{ upload.renderFile }}
                </a> {% endif %}
            </td>
            <td>
                {% if upload.renderLink %}
                <a href="{{ upload.renderLink }}" target="_blank">
                    {{ upload.renderLink }}
                </a> {% endif %}
            </td>
            <td>{{ upload.comment }}</td>
            {% else %}
            <td colspan="3" class="text-center">Non rendu</td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}