{% extends 'base.html.twig' %}

{% block title %}{{ promo.name }}{% endblock %}

{% block body %}
<h1>{{ promo.name }}</h1>

<table class="table">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ promo.id }}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ promo.name }}</td>
        </tr>
        <tr>
            <th>Nombre d'apprenants</th>
            <td>{{ promo.users.count }}</td>
        </tr>
        <tr>
            <th>Lien</th>
            <td>
                <a href="{{url('app_register')}}?token={{ promo.token }}">
                    {{url('app_register')}}?...
                </a>
                <button class="btn btn-primary btn-lg"
                    onclick="navigator.clipboard.writeText(`{{url('app_register') ~ '?token=' ~ promo.token }}`); alert('Lien copié !');">
                    <i class="fas fa-copy"></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>

<a href="{{ path('promo_index') }}">back to list</a>

<a href="{{ path('promo_edit', {'id': promo.id}) }}">edit</a>

{{ include('promo/_delete_form.html.twig') }}

<h2>Leurs TPs</h2>

<p><a href="{{path('render_new', {'id': promo.id}) }}">Ajouter un TP</a></p>

<table class="table">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Module</th>
            <th>Début</th>
            <th>Fin</th>
            <th>Nb. rendus</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>

        {% for render in promo.renders %}

        <tr {% if date(render.dateBegin) < date() and date(render.dateEnd)> date() %}
            class="bg-warning"
            {% endif %}>
            <td>{{ render.exercice.name }}</td>
            <td>{{ render.exercice.module.name }}</td>
            <td>{{ render.dateBegin ? render.dateBegin|date('d/m/Y h:i:s') : '' }}</td>
            <td>{{ render.dateEnd ? render.dateEnd|date('d/m/Y h:i:s') : '' }}</td>
            <td>{{ render.uploads.count ~ '/' ~ render.promo.users.count }}</td>
            <td>
                <a href="{{ path('render_show', {'id': render.id}) }}">show</a>
                <a href="{{ path('render_edit', {'id': render.id}) }}">edit</a>
                {{ include('render/_delete_form.html.twig') }}
            </td>
        </tr>

        {% endfor %}

    </tbody>
</table>

<h2>Les apprenants</h2>

<table class="table">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>

        {% for user in promo.users %}

        <tr>
            <td>{{ user.fullName }}</td>
            <td>
                <a href="{{ path('user_show', {'id': user.id}) }}">show</a>
                <a href="{{ path('render_edit', {'id': user.id}) }}">edit</a>
                {{ include('user/_delete_form.html.twig') }}
            </td>
        </tr>

        {% endfor %}

    </tbody>
</table>
{% endblock %}