{% extends 'base.html.twig' %}

{% block title %}{{ promo.name }}{% endblock %}

{% block body %}
<h1>{{ promo.name }}</h1>

<table class="table">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ promo.id }}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ promo.name }}</td>
        </tr>
        <tr>
            <th>Lien</th>
            <td>
                <a href="{{url('app_register')}}?token={{ promo.token }}">
                    {{url('app_register')}}?...
                </a>
                <button class="btn btn-primary btn-lg"
                    onclick="navigator.clipboard.writeText(`{{url('app_register') ~ '?token=' ~ promo.token }}`); alert('Lien copié !');">
                    <i class="fas fa-copy"></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>

<a href="{{ path('promo_index') }}">back to list</a>

<a href="{{ path('promo_edit', {'id': promo.id}) }}">edit</a>

{{ include('promo/_delete_form.html.twig') }}
{% endblock %}