{% extends 'base.html.twig' %}

{% block title %}{{ exercice.name }}{% endblock %}

{% block body %}
<h1>{{ exercice.name }}</h1>

<table class="table">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ exercice.id }}</td>
        </tr>
        <tr>
            <th>Nom</th>
            <td>{{ exercice.name }}</td>
        </tr>
        <tr>
            <th>Module</th>
            <td>{{ exercice.module.name }}</td>
        </tr>
        <tr>
            <th>Subject (link)</th>
            <td><a href="{{ exercice.subjectLink }}" target="_blank">{{ exercice.subjectLink }}</a></td>
        </tr>
        <tr>
            <th>Subject (file)</th>
            <td><a href="{{ absolute_url(asset('uploads/subjects/' ~ exercice.subjectFile)) }}" target="_blank">
                    {{ exercice.subjectFile }}
                </a></td>
        </tr>
        <tr>
            <th>Comment</th>
            <td>{{ exercice.comment }}</td>
        </tr>
    </tbody>
</table>

<a href="{{ path('exercice_index') }}">back to list</a>

<a href="{{ path('exercice_edit', {'id': exercice.id}) }}">edit</a>

{{ include('exercice/_delete_form.html.twig') }}
{% endblock %}